.env
.venv

*env
*venv

__pycache__/
*.py[cod]
*$py.class
.Python
.pytest_cache/
__pycache__
*__pycache__
/__pycache__/
.pyc
*.pyc
__pycache__/
*.py[cod]
*$py.class

dist/
build/
develop-eggs/
eggs/
lib/

.idea/
.vscode/